@import "compass/utilities/general/clearfix";
@import "compass/css3/flexbox";

$max-main-container-width: 1280px;
$min-main-container-width: 960px;

html, body {
  height: 100%;
  color: #ababab;
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/background/01.jpg);
  height: 100%;
}

.main-container {
  max-width: $max-main-container-width;
  min-width: $min-main-container-width;
  margin: 0 auto;
  padding-top: 16px;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

.top-section {
  @include display-flex;

  border-bottom: 1px solid #e5e5e5;
  padding: 8px;

  > .left {
    @include flex(1);
  }

  .item {
    margin: 0 12px;
    text-transform: uppercase;
  }
}

.bottom-section {
  @include display-flex;

  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 16px;

  > .left {
    @include flex(1);
  }
}
