$main-container-width: 960px;
$side-margin: 32px;
$outer-container-width: $main-container-width + 2 * $side-margin;

html, body {
  height: 100%;
  color: #ababab;
  overflow: auto;
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/background/01.jpg);
  height: 100%;
  overflow: auto;
}

.empty-box {
  flex: 1;
}

.main-container {
  display: flex;
  flex-direction: column;

  position: relative;
  box-sizing: border-box;
  height: 100%;
}

.outer-container {
  width: $outer-container-width;
  margin: 0 auto;
  padding: 0 $side-margin;
  height: 100%;
  box-sizing: border-box;
}

.top-section {
  display: flex;

  border-bottom: 1px solid #e5e5e5;
  padding: 16px 0 8px 0;

  > .left {
    flex: 1;
  }

  .item {
    margin: 0 36px;
    text-transform: uppercase;
  }

  .item:first-child {
    margin-left: 0;
  }

  .item:last-child {
    margin-right: 0;
  }
}

.bottom-section {
  display: flex;

  padding: 16px 0;

  > .left {
    flex: 1;
  }
}
