/* line 8, ../../sass/index.scss */
html, body {
  height: 100%;
  color: #ababab;
  overflow: auto;
}

/* line 14, ../../sass/index.scss */
.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/background/01.jpg);
  height: 100%;
  overflow: auto;
}

/* line 22, ../../sass/index.scss */
.empty-box {
  -webkit-flex: 1;
  flex: 1;
}

/* line 26, ../../sass/index.scss */
.main-container {
<<<<<<< HEAD
  max-width: 1200px;
  min-width: 960px;
  margin: 0 auto;
  padding-top: 16px;
  position: relative;
  box-sizing: border-box;
  height: 100%;
=======
>>>>>>> [home] style twick
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

/* line 35, ../../sass/index.scss */
.outer-container {
  width: 1024px;
  margin: 0 auto;
  padding: 0 32px;
  height: 100%;
  box-sizing: border-box;
}

/* line 43, ../../sass/index.scss */
.top-section {
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 16px 0 8px 0;
}
/* line 49, ../../sass/index.scss */
.top-section > .left {
  -webkit-flex: 1;
  flex: 1;
}
/* line 53, ../../sass/index.scss */
.top-section .item {
  margin: 0 36px;
  text-transform: uppercase;
}
/* line 58, ../../sass/index.scss */
.top-section .item:first-child {
  margin-left: 0;
}
/* line 62, ../../sass/index.scss */
.top-section .item:last-child {
  margin-right: 0;
}

/* line 67, ../../sass/index.scss */
.bottom-section {
  display: -webkit-flex;
  display: flex;
  padding: 16px 0;
}
/* line 72, ../../sass/index.scss */
.bottom-section > .left {
  -webkit-flex: 1;
  flex: 1;
}
