html, body {
  height: 100%;
  color: #ababab;
  overflow: auto; }

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/background/01.jpg);
  height: 100%;
  overflow: auto; }

.empty-box {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.main-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  box-sizing: border-box;
  height: 100%; }

.outer-container {
  width: 1024px;
  margin: 0 auto;
  padding: 0 32px;
  height: 100%;
  box-sizing: border-box; }

.top-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 16px 0 8px 0; }
  .top-section > .left {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .top-section .item {
    margin: 0 36px;
    text-transform: uppercase; }
  .top-section .item:first-child {
    margin-left: 0; }
  .top-section .item:last-child {
    margin-right: 0; }

.bottom-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0; }
  .bottom-section > .left {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
