<!DOCTYPE html>
<html>
  <head>
    <title>SlideshowPreview</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/css/core.css" />
    <link type="text/css" rel="stylesheet" href="/css/core-layout.css" />
    <link type="text/css" rel="stylesheet" href="/css/components-view.css" />
    <link rel="icon" href="/img/icon.png" />
  </head>
  <body>
    <div class="main-outer-container">
      <div id="main-container" class="main-container components-main-container">
      </div>
    </div>
    <script src="/js/core.js"></script>
    <script src="/js/view/SlideshowPreviewView.react.js"></script>
  </body>
</html>
